@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-roboto: "Roboto", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}
:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --border: #e2e8f0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  min-height: 100vh;
  overflow-y: hidden;
}
h1,
h2,
h3 {
  font-family: 'Manrope', sans-serif;
}
p,
span{
  font-family: 'Roboto', sans-serif;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}